* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-position: center;
}

body * {
    margin: 0;
    padding: 0;
    outline: none;
    background-repeat: no-repeat;
    background-position: center;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 1px;
    font-style: normal;
    color: #4b4b4b;
}

h2 {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
    font-style: normal;
    color: #4b4b4b;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    color: #4b4b4b;
}

h4 {
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
    color: #4b4b4b;
}

p {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
    font-style: normal;
    color: #616161;
}

a {
    color: #4b4b4b;
    text-decoration: none;
}

.container {
    max-width: 1250px;
    padding: 0px 15px;
    margin: 0 auto;
}

.btn,
.btn_join,
.btn_send {
    display: inline-block;
    width: 200px;
    padding: 12px 0px;
    font-size: 1.125rem;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    background-color: #e6c8c3;
}

.btn:hover,
.btn_join:hover,
.btn_send:hover {
    background-color: #f0cec8;
}

.btn:active,
.btn_join:active,
.btn_send:active {
    background-color: #f5cfc8;
}

.btn_header {
    margin-left: 50px;
    padding: 10px 0px;
    width: 200px;
    font-size: 1.125rem;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    background-color: #e6c8c3;
}

.btn_header:hover {
    background-color: #f0cec8;
}

.btn_header:hover {
    background-color: #f5cfc8;
}

/* Header*/
header {
    width: 100%;
    background-color: #fff;
    transition: .5s ease top;
    top: -105px;
    z-index: 100;
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 5px 5px 15px 0px #4d4d4d1f;
}

.logo_header {
    float: left;
}

.logo_header img {
    max-width: 70px;
    padding: 10px 0px;
}

.navbar ul {
    display: flex;
    padding: 20px 0px;
    font-size: 1.25rem;
    font-weight: 500;
    font-style: normal;
    align-items: center;
    text-transform: capitalize;
    list-style: none;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.nav-list__item-link {
    color: #616161;
    padding-left: 50px;
}

.nav-list__item-link:hover {
    color: #e6c8c3;
}

.nav-list__item--active {
    color: #e77ca0
}

/* Hero */
.section_hero {
    margin-bottom: 0px;
    width: 100%;
    height: 90vh;
    background-image: url(../img/balance_bg.png);
    background-size: cover;
}

.offer {
    display: flex;
    justify-content: space-between;
}

.left_image {
    max-width: 500px;
}

.description {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.offer p {
    padding: 30px 0px;
}


/* About */
.section_about {
    width: 100%;
    height: 100vh;
    background-image: url(../img/woman_2.png);
    background-size: cover;
}

.description_about {
    display: flex;
    width: 50%;
    padding-top: 10rem;
    flex-direction: column;
}

.description_about p {
    margin-top: 30px;
}


/* Icons */
.icons {
    padding: 100px 0px;
}

.icon_list {
    align-items: baseline;
}

.icon_list ul {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon_item {
    align-content: center;
    text-align: center;
    margin: 15px 0px;
}

.icon_item img {
    max-width: 200px;
}


/* Yoga Breathing or Pranayama */
.yoga_breathing {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/woman_3.png);
}

.backgound_img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/breathing_bg.png);
}

.yoga_offer {
    display: flex;
}

.text_left {
    padding: 10rem 0rem;
    width: 40%;
}

.text_left p {
    margin-top: 30px;
}


/* Join Mow */
.join {
    width: 100%;
    height: 600px;
    background-image: url(../img/join_now_bg.png);
}

.offer_join {
    margin: 8rem 0rem;
    display: flex;
    width: 46%;
    float: right;
    flex-direction: column;
    padding-left: 35px;
    padding-top: 10px;
    background-image: url(../img/brush.png);
    background-position: revert;
    background-size: 300px;
}

.offer_join p {
    margin: 30px 0px;
}


/* Gallery */
.section_gallery {
    width: 100%;
    padding: 100px 0px;
    background-image: url(../img/gallery_bg.png);
    background-size: cover;
}

.block_description {
    padding-bottom: 40px;
    width: 880px;
    text-align: center;
    margin: 0 auto;
}

.block_description p {
    margin-top: 40px;
}

.gallery_cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery_item {
    width: 350px;
    margin: 20px 0px;
    min-height: fit-content;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 12px 15px 25px 0px #0000001f;
}

.gallery_item img {
    width: 100%;
}

.text_item_gallery {
    padding: 35px;
}

.text_item_gallery p {
    font-size: 1rem;
    line-height: 25px;
    margin-top: 15px;
}


/* Video_Showreel */
.section_video {
    width: 100%;
    height: fit-content;
    background-color: #e6c7bf;
}

.content_block {
    padding: 7rem 0rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

video {
    cursor: pointer;
    width: 50%;
    height: fit-content;
    box-shadow: 12px 15px 25px 0px #0000001f
}

.text_and_social {
    width: 45%;
    align-self: center;
}

.text_and_social p {
    margin: 40px 0px;
}

.social_item {
    display: flex;
    list-style: none;
}

.social_item li {
    opacity: .8;
    padding-left: 30px;
}

.social_item li:first-child {
    padding: 0px;
}


/* Get in Touch */
.section_form {
    padding: 100px 0px;
    width: 100%;
    background-size: cover;
    background-image: url(../img/get_bg.png);
}

.form_description {
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

.form_description p {
    width: 90%;
    padding: 50px 0px;
    margin: 0 auto;
}

.contact_form {
    display: flex;
    flex-direction: column;
    max-width: 940px;
    margin: 0 auto;
}

.input_item,
.input_message {
    max-width: 940px;
    padding: 0px 40px;
    font-size: 1.25rem;
    font-weight: 100;
    font-style: normal;
    border: solid 1.8px #b0b0b0;
    background-color: #efefef;
    --webkit-appearance: none;
}

.input_item {
    height: 60px;
}

.input_message {
    min-height: 140px;
    margin-bottom: 50px;
}

textarea.input_message {
    resize: none;
    padding-top: 20px;
    width: 100%;
    height: 180px;
    margin-bottom: 50px;
}

input:nth-child(2) {
    margin: 30px 0px;
}

input:focus {
    border: solid 2.5px #b0b0b0;
}

textarea:focus {
    border: solid 2.5px #b0b0b0;
}

.input_item::placeholder,
.input_message::placeholder {
    opacity: .5;
}

.input_item:focus::placeholder,
.input_message:focus::placeholder {
    color: transparent;
}

.input_item--error {
    border: solid 1.8px red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn_send {
    display: block;
    margin: 0 auto;
}


/* Scroll Btn */
.scroll_btn {
    display: none;
    bottom: 50px;
    right: 12px;
    height: 50px;
    width: 50px;
    transition: .2s;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #e77ca0;
    box-shadow: 0px 0px 26px -5px #8a8a8a;
    z-index: 1000;
}

.scroll_btn--active {
    display: block;
}

.scroll_btn::before {
    content: url(../img/arrow-up.png);
}

.scroll_btn:hover {
    background-color: #ee8eae;
}

.scroll_btn:active {
    box-shadow: none;
}


/* Footer */
footer {
    width: 100%;
    padding: 15px 0px;
    align-items: center;
    background-color: #4b4b4b;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo_footer {
    display: flex;
    align-items: center;
}

.logo_footer img {
    max-width: 80px;
}

small {
    margin-left: 25px;
    font-size: 0.9rem;
    font-weight: 100;
    font-style: normal;
    opacity: .6;
    color: #fff;
}